{% extends 'home.html' %}

{% block content %}

    <div class="py-5 bg-dark">
        <div class="m-0 text-center text-white">
          <br> <br>
          <h1> Conceito </h1>
          <br>
          <h2> Projeto 2.3 | DWEB </h2>
          <br> <br>
          <p> Concept é um jogo de tabuleiro familiar, que desafia os jogadores a criarem sua própria forma de comunicação, oferecendo palavras que devem ser adivinhadas através da associação de ícones.
              A cada rodada, um jogador escolherá uma palavra ou expressão para ser adivinhada pelos outros jogadores e utiliza peças para indicar no tabuleiro os ícones que se relacionam com o conceito escolhido.

          </p>
          <br> <br> <br> <br>
        </div>
    </div>

{% endblock %}