{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Concept | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'concept:home' %}">Concept</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li>
              <a class="nav-link" href="{% url 'concept:home' %}"><i class="fas fa-home"></i> Home</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
              <a href="" class="nav-link"><i class="fas fa-user-alt"></i> {{ request.user.username }}</a>
            </li>
            <li>
              <a href="{% url 'concept:jogo' %}" class="nav-link"><i class="fas fa-gamepad"></i> Jogo</a>
            </li>
            <li>
              <a href="{% url 'concept:logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Sair</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'concept:login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li>
              <a href="{% url 'concept:user-create' %}" class="nav-link"><i class="fas fa-user-alt"></i> Cadastro</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Concept 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>